*{
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    font-family: 'open sans';
    background: #deeaec;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: rgba(42, 42, 196, 0.822);
    text-align: center;
    background: #2193b0;
}
/*header*/

header{
    width: 100%;
    height: 600px;
    background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, hsla(191, 78%, 68%, 0.623), hsla(192, 56%, 69%, 0.616)), url(../imagenes/imagen-header.jpg);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(191, 78%, 68%, 0.623), hsla(192, 56%, 69%, 0.616)), url(../imagenes/imagen-header.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-attachment: fixed;
position: relative;;
}




header .texto_header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.texto_header h1{
    margin-top: 0px;
    margin-bottom: -5.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.texto_header h2{
    margin-top: 30px;
    margin-bottom: -5.5rem;
}
/*tarjetas*/
.container__card{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    


    
}

.card__father{
    margin: 20px;
    perspective: 1000px;
}

.card__father:hover .card{
    transform: rotateY(180deg);
}


.card{
    width: 350px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.card__front{
    background-size: cover;
    background-position: center;
}


.card__front,
.card__back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card__back{
    transform: rotateY(180deg);
    background: rgb(164, 200, 236);
}

.body__card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
}

.body__card_back{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}

.body__card_back p{
    margin-top: 30px;
    font-size: 18px;
}

.body__card_back input{
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    background: #58B0F6;
    box-shadow: 1px 1px 30px -5px #58B0F6;
    border-radius: 10px;
    transition: box-shadow 600ms;
}

.body__card_back input:hover{
    box-shadow: 1px 1px 30px 0px #449de6;
}

/*contedor sobre nosotros*/
.contenedor-principal{
    width: 100%;
    height: 482px;
    background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, hsla(210, 9%, 96%, 0.911), hsla(192, 26%, 96%, 0.911)), url(../imagenes/muchoslibros.webp);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(197, 54%, 97%, 0.979), hsla(192, 15%, 94%, 0.932)), url(../imagenes/muchoslibros.webp); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-attachment: fixed;
position: relative;;

}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}
.imagen-estudio{
    width: 48%;
}
.contenedor-sobre-nosotros .contenido-texto{
    width: 48%;
}
.contenido-texto{
    margin-bottom: 15%;
}
.contenido-texto h3 span{
    background-color: rgb(238, 180, 34);
    border-radius: 50%;
    text-align: center;
    color: aliceblue;
    display: inline-block;
}
.contenido-texto p{
    padding: 0px 0px 30px 15px;
    text-align: justify;
}
.contenido-texto > h3{
    font-family: 'open sans';
    color: rgba(42, 42, 196, 0.822);
}


/*portafolio*/



/*.imagen-varias{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    /*transform: scale(0);*/
   /* background: hsla(273,91%,27%,0.7);
    transition:transform .5s;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}*/

.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 70%;
    transform:translate(-50%,-50%);
    background: #2193b0;
    padding: 10px;
    border-radius: 40px;
}
 /* foooter */
 footer{
    width: 100%;
    background: #202020;
    color: white;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row {
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 50px;
    height: 50px;
}

.row label{
    margin-top: -39px;
    margin-left: 46px;
    color: #C7C7C7;
}


.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 50px;
    height: 50px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}


@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}

/* nabvar */
.navbar {
    background-color: #2193b0;
}


#autor{
    font-size: 27px;
    color:#413939

}
img, svg {
    vertical-align: middle;
    width: 80px;
}

.galeria{
    background:#fefefe;
}
.contenedor-galeria{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.img-galeria{
    width: 240px;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0,0, 0, .5);
    
    
}
.subtitulo{
    text-align: center;
}
 .galeria{
    background: #2193b0;
 }

 /*titulo*/
 .contenedor-bienvenidos{
    display: flex;
    width: 500px;
    height: 40px;
    color: #fefefe;
    font-size: 38px;
    line-height: 40px;
    overflow: hidden;
    position: absolute;
    top: -250px;
    right: 0;
    bottom: 0;
    left: 0%;
    margin: auto;
 }
.contenedor-bienvenidos>ul{
    list-style: none;
    padding-left: 10px;
    margin: 0%;
    animation:cambiar 7s infinite;
}
 .contenedor-bienvenidos>p{
    margin:0px;
}
@keyframes cambiar {
    0% {margin-top: 0;}
    20% {margin-top: 0;}

    25% {margin-top: -40px;}
    50% {margin-top: -40px;}

    55% {margin-top: -80px;}
    80% {margin-top: -80px;}

    85%{margin-top: -40px;}
    95%{margin-top: -40px;}

    100%{margin-top: 0px;}
}